name: Update y folder automatically

on: workflow_dispatch
  # push:
  #   branches:
  #     - main

jobs:
  update-y-folder:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: creating file
        run: |
          mkdir x
          mkdir y
          cd x
          echo "sai"> sai.py

      - name: Copy contents from x to y
        run: cp -R x/* y/
      - name: checking
        run : |
         cd y
         cat sai.py

      # - name: Commit and push changes
      #   run: |
      #     git config --global user.email "saikiran4054@gmail.com"
      #     git config --global user.name "GitHub Actions"
      #     git add -A
      #     git commit -m "Auto update y folder from x folder"
      #     git push
